joblib~=1.5.2
numpy~=2.3.4
Flask~=3.1.2
flask-cors~=6.0.1
scikit-learn==1.6.1
pandas
xgboost
PyPDF2
pytesseract
Pillow
transformers
torch
pdf2image
huggingface_hub
google-generativeai
pytest
pytest-flask
pytest-cov
reportlab